* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@font-face {
  font-family: 'Montserrat regular';
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("../fonts/WorkSans-Regular.eot");
  src: url("../fonts/WorkSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/WorkSans-Regular.woff2") format("woff2"), url("../fonts/WorkSans-Regular.woff") format("woff"), url("../fonts/WorkSans-Regular.ttf") format("truetype"), url("../fonts/WorkSans-Regular.svg#WorkSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat semibold';
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype"), url("../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat medium';
  src: url("../fonts/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype"), url("../fonts/Montserrat-Medium.svg#Montserrat-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  color: #1f373d;
  font-family: 'Montserrat regular';
}

a, button {
  text-decoration: none;
  cursor: pointer;
}

a:active, a:focus, button:active, button:focus, input:active, input:focus {
  outline: none;
}

.logo {
  font-size: 25px;
  font-family: 'Montserrat semibold';
}

section {
  padding: 65px 0 90px 0;
}

.search {
  position: relative;
  display: inline-block;
  width: 480px;
}

.search-input {
  position: absolute;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 25px 25px 25px 58px;
  font-size: 15px;
  color: #919eb1;
  font-family: 'Montserrat regular';
}

.search-input:focus {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.08);
}

.search-input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.search-input:-ms-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.search-input::-ms-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.search-input::placeholder {
  opacity: 1;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.search-input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.search-input:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.search-input:focus::-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.search-input:focus::placeholder {
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.search .fa {
  position: absolute;
  z-index: 1;
  padding: 25px;
  color: #919eb1;
}

.search-btn {
  position: absolute;
  right: 0;
  padding: 25px 30px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #ffcc01;
  font-size: 15px;
  cursor: pointer;
  font-family: 'Montserrat medium';
}

.section__title {
  font-size: 40px;
  letter-spacing: -1px;
  font-family: 'Montserrat semibold';
}

.text {
  font-size: 13px;
  line-height: 30px;
  font-family: 'Montserrat medium';
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0px;
}

.navbar__logo {
  color: #1f373d;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__nav {
  margin-right: 100px;
}

.menu__nav-link:not(:last-child) {
  padding-right: 33px;
}

.menu__link {
  font-size: 13px;
  color: #1f373d;
}

.menu__btn {
  padding: 14px 23px;
  margin-left: 23px;
  border-radius: 5px;
  background-color: #ffcc01;
}

.hero {
  padding-bottom: 80px;
}

.hero-wrap {
  padding-top: 240px;
  padding-bottom: 340px;
  position: relative;
  height: 100%;
}

.hero-bg {
  position: absolute;
  top: 0;
  right: -57px;
  width: 960px;
  height: 100%;
  background: #96bece;
  z-index: -1;
}

.hero__title {
  max-width: 600px;
  margin-bottom: 48px;
  font-size: 62px;
  line-height: 78px;
  letter-spacing: -1.54px;
  color: #1f373d;
  font-family: 'Montserrat semibold';
}

.hero__scroll-down {
  position: absolute;
  bottom: 40px;
  left: 0;
  font-size: 12px;
  color: #919eb1;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  font-family: 'Montserrat medium';
}

.hero .arrow-down {
  position: absolute;
  display: block;
  bottom: 0;
  left: -5px;
  background-image: url("../img/hero/down-arrow.svg");
  background-size: 28px 28px;
  width: 28px;
  height: 28px;
  color: #919eb1;
}

.hero .contact-group {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  bottom: 0;
  right: -57px;
}

.hero .contact-group__item {
  position: relative;
  font-size: 18px;
  padding: 32px 32px 32px 100px;
  width: 100%;
  margin-left: -4px;
  color: #1f373d;
  background-color: #ffcc01;
  font-family: 'Montserrat semibold';
}

.hero .contact-group .phone::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../img/hero/phone.svg) no-repeat 50%;
  background-size: 25px 25px;
  width: 25px;
  height: 25px;
  padding: 32px 32px 32px 50px;
}

.hero .contact-group .location::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../img/hero/gps.svg) no-repeat 50%;
  background-size: 25px 25px;
  width: 25px;
  height: 25px;
  padding: 32px 32px 32px 50px;
}

.statistics-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.statistics-info {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.statistics__title {
  max-width: 350px;
  margin-bottom: 70px;
}

.statistics__text {
  margin-bottom: 40px;
}

.statistics .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 430px;
}

.statistics .counter-block {
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f6f5f4;
}

.statistics .counter__num {
  font-size: 40px;
  color: #ffcc01;
  letter-spacing: -1px;
  margin-bottom: 20px;
  font-family: 'Montserrat semibold';
}

.statistics .counter__text {
  font-size: 14px;
  font-family: 'Montserrat semibold';
}

.catalog {
  background-color: #f6f5f4;
}

.catalog__title {
  max-width: 500px;
  margin-bottom: 75px;
}

.catalog-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 60px;
}

.catalog-card {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  max-width: 350px;
  margin-bottom: 35px;
  -webkit-box-shadow: 0px 0px 20px 9px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 20px 9px rgba(0, 0, 0, 0.08);
}

.catalog__img {
  width: 100%;
  height: 350px;
  background-color: #b1d7e8;
}

.catalog-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 26px 22px 36px 22px;
}

.catalog-info__title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 26px;
  font-size: 15px;
  font-family: 'Montserrat semibold';
}

.catalog-info__price {
  font-size: 18px;
  color: #ffcc01;
  font-family: 'Montserrat semibold';
}

.catalog-info__room {
  font-size: 13px;
  text-transform: uppercase;
  color: #919eb1;
}

.catalog-info__bath {
  position: relative;
}

.catalog-info__bath::before {
  content: '';
  position: absolute;
  background: url(../img/catalog/bathroom.svg) no-repeat 50%;
  left: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-size: 12px 12px;
  width: 12px;
  height: 12px;
}

.catalog-info__bed {
  position: relative;
  margin-left: 45px;
}

.catalog-info__bed::before {
  content: '';
  position: absolute;
  background: url(../img/catalog/bed.svg) no-repeat 50%;
  left: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-size: 12px 12px;
  width: 12px;
  height: 12px;
}

.catalog-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

.catalog__btn {
  border: none;
  border-radius: 5px;
  background-color: #fff;
  margin-left: 40px;
  padding: 27px 40px;
  font-size: 15px;
  color: #1f373d;
  font-family: 'Montserrat medium';
}

.about__title {
  max-width: 400px;
  margin-bottom: 36px;
}

.about__info {
  max-width: 400px;
  margin-bottom: 70px;
}

.about-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-block__card {
  position: relative;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  max-width: 345px;
  padding: 145px 68px 50px 68px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 20px 9px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 20px 9px rgba(0, 0, 0, 0.08);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.about-block__card:hover {
  background-color: #ffcc01;
  color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.about-block__card:hover .about-block__link {
  color: #fff;
  border-bottom: 2px solid #fff;
}

.about-block__num {
  position: absolute;
  top: -22%;
  left: -50px;
  font-size: 180px;
  font-family: 'Montserrat semibold';
}

.about-block__title {
  font-size: 18px;
  margin-bottom: 30px;
  font-family: 'Montserrat semibold';
}

.about-block__text {
  margin: 30px 0;
}

.about-block__link {
  font-size: 13px;
  padding-bottom: 10px;
  border-bottom: 2px solid #1f373d;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-family: 'Montserrat semibold';
}

.about-block .first::before {
  content: '01';
  position: absolute;
  left: 40px;
}

.about-block .second::before {
  content: '02';
  position: absolute;
  left: 40px;
}

.about-block .third::before {
  content: '03';
  position: absolute;
  left: 40px;
}

.services__title {
  max-width: 500px;
  margin-bottom: 36px;
}

.services__text {
  max-width: 390px;
  margin-bottom: 66px;
}

.services-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.services-wrap__img {
  position: absolute;
  top: 0;
  left: -110px;
  width: 650px;
  height: 630px;
  background-color: #acd1e1;
}

.services-block {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 480px;
}

.services-block__title {
  font-size: 25px;
  margin-bottom: 30px;
  font-family: 'Montserrat semibold';
}

.services-block__text {
  margin-bottom: 50px;
}

.agents {
  background-color: #f6f5f4;
}

.agents__title {
  max-width: 500px;
  margin-bottom: 36px;
}

.agents__text {
  max-width: 370px;
  letter-spacing: -0.33px;
  margin-bottom: 60px;
}

.agents-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.agents-card {
  margin-bottom: 35px;
  margin: 0 15px;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

.agents-card:focus {
  outline: none;
}

.agents-card__img {
  width: 100%;
  height: 350px;
  background-color: #cdccce;
}

.agents-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 26px 22px 36px 22px;
  background-color: #fff;
}

.agents-info__title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  margin-bottom: 26px;
  font-size: 15px;
  font-family: 'Montserrat semibold';
}

.agents-info__name {
  font-size: 15px;
  color: #ffcc01;
  font-family: 'Montserrat semibold';
}

.agents-info__link img {
  width: 17px;
  height: 17px;
}

.agents-info__link:not(:last-child) {
  margin-right: 30px;
}

.agents-info__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.agents-wrap {
  position: relative;
}

.slider-arrow__prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -30px;
  color: #ffcc01;
  font-size: 40px;
}

.slider-arrow__next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -30px;
  color: #ffcc01;
  font-size: 40px;
}
/*# sourceMappingURL=style.css.map */