.hero
  margin-bottom: 80px
  &-wrap
    padding-top: 240px
    padding-bottom: 340px
    position: relative
    height: 100%
  &-bg
    position: absolute
    top: 0
    right: -57px
    width: 960px
    height: 100%
    background: #96bece
    z-index: -1
  &__title
    max-width: 600px
    margin-bottom: 48px
    font-size: 62px
    line-height: 78px
    letter-spacing: -1.54px
    color: $main-text
    +bold
  &__scroll-down
    position: absolute
    bottom: 40px
    left: 0
    font-size: 12px
    color: #919eb1
    writing-mode: vertical-rl
    transform: rotate(-180deg)
    +med
  .arrow-down
    position: absolute
    display: block
    bottom: 0
    left: -5px
    background-image: url('../img/hero/down-arrow.svg')
    background-size: 28px 28px
    width: 28px
    height: 28px
    color: #919eb1    
  .contact-group
    position: absolute
    display: flex
    align-items: center
    bottom: 0
    right: -57px
    .location, .phone
      position: relative
      margin-left: -4px
      bottom: 0
      right: 0


@media (max-width: 1199px)
  .hero
    background: #96bece
    &-bg
      display: none
    .contact-group
      right: 0

@media (max-width: 658px)
  .hero
    &__title
      font-size: 53px
    &__location, 
    &__phone
      padding: 22px 22px 22px 60px
      font-size: 13px
    &__location::before, 
    &__phone::before
      padding: 22px 22px 22px 20px
      width: 13px
      height: 13px

@media (max-width: 558px)
  .hero
    &__title
      font-size: 46px
    &__scroll-down, .arrow-down
      visibility: hidden

@media (max-width: 476px)
  .hero
    &-wrap
      padding-top: 180px
      padding-bottom: 240px
    &__title
      font-size: 36px      
      line-height: 58px
    &__location, &__phone
      width: 100%
    &__phone
      margin-bottom: 10px
  .contact-group
    flex-direction: column

